* {
  box-sizing: border-box;
}

footer {
  background-color: #f0f0f0;
}

.world-cup-image {
  width: 100%;
}

.input-group img {
  width: 15px;
}

header ul, footer ul {
  list-style-type: none;
}

header ul {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-left: auto;
}

header {
  margin-bottom: 50px;
}

footer ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-left: 0; 
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

footer > div {
  width: 220px;
}

main {
  width: 600px;
  margin: auto;
}

main > img {
  margin-bottom: 20px;
}

main form .input-group {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 30px;
  
}

main form .input-group input {
  padding: 15px 10px;
  width: 95%;
  border: 0;
}

main form .input-group img {
  vertical-align: middle;
}

.button-group {
  text-align: center;
}

.button-group button:first-child {
  margin-right: 10px;
}

.button-group button {
  padding: 10px 15px;
  font-weight: bold;
  color: #999;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.button-group button:hover {
  color: #000;
  border: 1px solid #ddd;
}

.useful-links ul {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  width: 250px;
  justify-content: space-evenly;
}

.useful-links {
  text-align: center;
  margin-top: 30px;
}

a {
  text-decoration: none;
}

/* .pseudo {
  border: 1px solid #000;
  padding: 10px;
}

.pseudo:after {
  content: 'Hello world';
  border: 1px solid #f00;
}

.pseudo:before {
  content: 'This is awesome';
  border: 1px solid #00f;
} */

